.page-header {
    text-align: left;
}

.header-button {
    padding: 5px;
}

.table-body {
    height: 650px;
    width: 100%;
}

@media only screen and (max-width:500px) {
    .table-body {
        height: 480px;
    }
  }