<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5" *ngIf="!showForgetPasswordForm">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Gaya Health Services</h1>
                                </div>
                                <div class="text-center">
                                    <form [formGroup]="loginForm" class="user"
                                        (ngSubmit)="validateUser(loginForm.value)">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="userName"
                                                aria-describedby="emailHelp" placeholder="Enter User ID..."
                                                formControlName="userName">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="userPassword" placeholder="Password" formControlName="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck"
                                                    formControlName="rememberMe">
                                                <label for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary forgot-button" type="submit"> Login</button>
                                    </form>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button class="btn btn-primary forgot-button" type="submit"
                                        (click)="forgotPasswordPage()"> Forgot Password ?</button>
                                </div>
                            </div>
                            <div class="p-5" *ngIf="showForgetPasswordForm">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Gaya Health Services</h1>
                                </div>
                                <form [formGroup]="forgotPassword" class="user"
                                    (ngSubmit)="resetPassword(forgotPassword.value)">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="userEmail"
                                            aria-describedby="emailHelp" placeholder="Enter Email ID..."
                                            formControlName="userEmail">
                                    </div>
                                    <button class="btn btn-primary forgot-button" type="submit"> Reset Password </button>
                                    <button class="btn btn-primary forgot-button" type="submit" (click)="showLoginPage()"> Login</button>
                                </form>
                                <div *ngIf="passwordResetResult">
                                    <p>{{resetMessage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>