
@import "~bootstrap/dist/css/bootstrap.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



body {
    background-color: #fff;
    font-size: .875rem;
    overflow-x: hidden;
    color: black;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
}

.navbar  .container-fluid {
    padding: 0% 5%;
}
.main-body {
    background: white;
    height: auto;
    min-height: 720px;
}
.btn {
    width: 135px;
    border-radius: 20px;
}
.btn-secondary {
    color: white;
    background-color: #298ca3;
    border-color: #298ca3;
}

.btn-primary {
    color: white;
    background-color: #298ca3;
    border-color: #298ca3;
    width: 150px;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
}
.btn-primary :disabled {
    color: white;
    background-color: #298ca3;
    border-color: #298ca3;
    width: 150px;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.page-header {
    padding: 1% 2%;
    color: black;
    height: 120px;
    text-align: center;
    background-image: linear-gradient(#37acd9, white);
}

.plus-icon {
    background: black;
    margin-left: 5%;
    padding: 1%;
    font-size: 10px;
    color: white;
    font-weight: bold;
    border: 1px #298ca3 solid;
    border-radius: 10%;
    cursor: pointer;
}

.form-container {
    padding: 0% 5%;
    background-color: #c7dfeb;
    font-size: 0.875rem;
    overflow-x: hidden;
    height: 89%;
}

.order-header {
    text-align: center;
    padding: 1%;
    background: #298ca3;
    color: black;
}

.ag-theme-alpine {
    .ag-row {
        font-size: 20px;
    }

    .ag-header-cell-text {
        color: white;
    }

    .ag-header {
        background-color:#37acd9;
        font-size: 20px;
    }
} 


.custom-dialog-container .mat-dialog-container {
    padding: 0px;
}

.mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width:500px) {
  .main-body {
    min-height: 535px;
  }
}